/* Настройки
----------------------------------------------------------- */
/* Подключение файлов
----------------------------------------------------------- */
html,
body,
div,
span,
applet,
object,
iframe,
h1,
h2,
h3,
h4,
h5,
h6,
p,
blockquote,
pre,
a,
abbr,
acronym,
address,
big,
cite,
code,
del,
dfn,
em,
img,
ins,
kbd,
q,
s,
samp,
small,
strike,
strong,
sub,
sup,
tt,
var,
dl,
dt,
dd,
ol,
ul,
li,
fieldset,
form,
label,
legend,
table,
caption,
tbody,
tfoot,
thead,
tr,
th,
td {
  margin: 0;
  padding: 0;
  border: 0;
  outline: 0;
  font-weight: inherit;
  font-style: inherit;
  font-family: inherit;
  font-size: 100%;
  vertical-align: baseline;
}
body {
  line-height: 1;
  color: #000;
  background: #fff;
}
ol,
ul {
  list-style: none;
}
table {
  border-collapse: separate;
  border-spacing: 0;
  vertical-align: middle;
}
caption,
th,
td {
  text-align: left;
  font-weight: normal;
  vertical-align: middle;
}
a img {
  border: none;
}
* {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
}
html {
  font-size: 100%;
}
body {
  line-height: 1.2;
  font-family: 'PT Sans', sans-serif;
  min-width: 980px;
  background: url("../img/body-bg.jpg") repeat;
}
a {
  color: inherit;
  text-decoration: none;
}
p {
  font: inherit;
}
input,
button {
  font-family: inherit;
  line-height: inherit;
}
.bold {
  font-weight: bold;
}
.left {
  float: left;
}
.right {
  float: right;
}
.container {
  width: 980px;
  margin: 0 auto;
  zoom: 1;
}
.container:before,
.container:after {
  content: "";
  display: table;
}
.container:after {
  clear: both;
}
.btn {
  display: block;
  outline: none;
  border: none;
  cursor: pointer;
  text-align: center;
}
.btn--lg {
  width: 190px;
  padding: 11px 0;
}
.btn--md {
  width: 135px;
  padding: 6px 0;
}
.btn--sm {
  width: 105px;
  padding: 5px 0;
}
.btn--light {
  margin: 10px 0;
  background: #36a7dc;
  background: -webkit-linear-gradient(top, #6dd2f3, #36a7dc);
  background: -moz-linear-gradient(top, #6dd2f3, #36a7dc);
  background: -o-linear-gradient(top, #6dd2f3, #36a7dc);
  background: -ms-linear-gradient(top, #6dd2f3, #36a7dc);
  background: linear-gradient(to bottom, #6dd2f3, #36a7dc);
  font-size: 14px;
  font-weight: bold;
  color: #fff;
  text-shadow: 1px 1px 3px #3588ac;
  border-bottom: 2px solid #277fa8;
  -webkit-box-shadow: 0 2px 3px #c2c2c2;
  box-shadow: 0 2px 3px #c2c2c2;
  -webkit-border-radius: 3px;
  border-radius: 3px;
}
.btn--light:hover {
  background: #52b7e6;
  background: -webkit-linear-gradient(top, #9ee1f7, #52b7e6);
  background: -moz-linear-gradient(top, #9ee1f7, #52b7e6);
  background: -o-linear-gradient(top, #9ee1f7, #52b7e6);
  background: -ms-linear-gradient(top, #9ee1f7, #52b7e6);
  background: linear-gradient(to bottom, #9ee1f7, #52b7e6);
}
.btn--light:not([disabled]):active {
  border-bottom: none;
  border-top: 2px solid #267ea8;
  background: #34a5db;
  background: -webkit-linear-gradient(top, #34a5db, #6bd1f2);
  background: -moz-linear-gradient(top, #34a5db, #6bd1f2);
  background: -o-linear-gradient(top, #34a5db, #6bd1f2);
  background: -ms-linear-gradient(top, #34a5db, #6bd1f2);
  background: linear-gradient(to bottom, #34a5db, #6bd1f2);
  -webkit-box-shadow: none;
  box-shadow: none;
}
.btn--light[disabled] {
  border-color: #b9bbc0;
  background: #dfe0e6;
  background: -webkit-linear-gradient(top, #dfe0e6, #ced1d7);
  background: -moz-linear-gradient(top, #dfe0e6, #ced1d7);
  background: -o-linear-gradient(top, #dfe0e6, #ced1d7);
  background: -ms-linear-gradient(top, #dfe0e6, #ced1d7);
  background: linear-gradient(to bottom, #dfe0e6, #ced1d7);
  -webkit-box-shadow: none;
  box-shadow: none;
  cursor: default;
}
.form__radio {
  margin: 0;
  display: inline-block;
  vertical-align: middle;
}
.form__label {
  display: block;
  font-weight: bold;
  font-size: 14px;
  margin: 10px 0;
}
.form__input,
.form__textarea,
.form__input--rounded {
  display: block;
  margin: 5px 0;
  padding: 5px 10px;
  font-size: 14px;
  outline: none;
  border: 1px solid #cfd9e6;
  -webkit-border-radius: 3px;
  border-radius: 3px;
  -webkit-box-shadow: inset 1px 1px 3px #dcdbdb;
  box-shadow: inset 1px 1px 3px #dcdbdb;
}
.form__input:focus,
.form__textarea:focus,
.form__input--rounded:focus {
  border-color: #8fbacf;
}
.form__input--rounded {
  border-color: #8fbacf;
  -webkit-border-radius: 90px;
  border-radius: 90px;
}
.form__textarea {
  height: 100px;
}
.heading--xl {
  text-align: center;
  font-size: 26px;
  margin: 0 0 20px;
}
.heading--xl small {
  font-size: 20px;
  color: #666;
}
.heading--xl:after {
  content: '';
  display: block;
  width: 300px;
  height: 7px;
  margin: 10px auto 0;
  background: url("../img/heading-pattern.png") no-repeat;
}
.heading--lg {
  font-size: 24px;
}
.heading--md {
  font-size: 22px;
}
.heading--sm {
  font-size: 20px;
}
.heading--xs {
  font-weight: bold;
  font-size: 18px;
}
.heading--xxs {
  font-size: 16px;
  font-weight: bold;
  text-transform: uppercase;
}
.heading--margin {
  margin: 0 0 20px;
}
.image,
.image--small,
.image--big {
  display: inline-block;
  -webkit-border-radius: 2px;
  border-radius: 2px;
  -webkit-box-shadow: 0 2px 5px #949494;
  box-shadow: 0 2px 5px #949494;
}
.image img,
.image--small img,
.image--big img {
  display: block;
}
.image--small {
  border: 3px solid #fff;
}
.image--big {
  border: 6px solid #fff;
}
.image--left {
  float: left;
  margin: 0 14px 14px 0;
}
.image--right {
  float: right;
  margin: 0 0 14px 14px;
}
.link,
.b-footer__menu a {
  color: #4283a4;
}
.link:hover,
.b-footer__menu a:hover {
  text-decoration: underline;
  color: #006fa7;
}
.link--dotted {
  border-bottom: dotted 1px #fff;
}
.link--dotted:hover {
  border: none;
}
.link--solid,
.b-content__breadcrumbs__item a {
  border-bottom: solid 1px #fff;
}
.link--solid:hover,
.b-content__breadcrumbs__item a:hover {
  border: none;
}
.preview--small {
  position: relative;
}
.preview--small:hover:before {
  background-image: url("../img/zoom-icon.png");
  content: '';
  width: 100%;
  height: 100%;
  background-color: rgba(0,0,0,0.3);
  background-position: center center;
  background-repeat: no-repeat;
  position: absolute;
  top: 0;
  left: 0;
}
.preview--big {
  position: relative;
}
.preview--big:hover:before {
  background-image: url("../img/zoom-icon-big.png");
  content: '';
  width: 100%;
  height: 100%;
  background-color: rgba(0,0,0,0.3);
  background-position: center center;
  background-repeat: no-repeat;
  position: absolute;
  top: 0;
  left: 0;
}
.text {
  font-size: 14px;
  color: #333;
  line-height: 1.45;
}
.text strong {
  font-weight: bold;
}
.text__link {
  color: #006fa7;
  text-decoration: underline;
}
.text__link:hover {
  text-decoration: none;
}
.text__link:visited {
  color: #86132a;
}
.text--margin {
  margin: 0 0 25px;
}
.ul,
.ul--circle,
.ul--line {
  margin: 5px 12px;
  line-height: 1.45;
}
.ul--circle li:before {
  display: inline-block;
  content: '•';
  color: #006fa7;
  padding-right: 12px;
}
.ul--line li:before {
  display: inline-block;
  content: '—';
  color: #006fa7;
  padding-right: 12px;
}
.b-contact-form__btn {
  margin: 20px 0;
}
.b-contact-form__input,
.b-contact-form__textarea {
  width: 340px;
}
.b-content {
  float: left;
  width: 480px;
  margin-top: -20px;
  padding: 40px 10px 0;
  background: #fff;
  position: relative;
}
.b-content__breadcrumbs {
  font-size: 12px;
  position: absolute;
  top: -26px;
  left: 0;
  z-index: 150;
}
.b-content__breadcrumbs__item {
  display: inline-block;
  position: relative;
  margin: 0 7px;
}
.b-content__breadcrumbs__item a {
  color: #4283a4;
  border-color: #4283a4;
}
.b-content__breadcrumbs__item + .b-content__breadcrumbs__item:before {
  content: '•';
  color: #4283a4;
  position: absolute;
  left: -12px;
  top: 1px;
}
.b-exchange {
  background: #ebebeb;
  padding-bottom: 10px;
  -webkit-border-radius: 5px;
  border-radius: 5px;
  -webkit-box-shadow: inset 0 0 5px #bebebe;
  box-shadow: inset 0 0 5px #bebebe;
/* Заголовок
    --------------------------------------------- */
/* Валюта, флаг, цена
    --------------------------------------------- */
}
.b-exchange__item {
  margin: 0 1px;
  padding: 4px 12px;
  background: #f5f5f5;
  border: 1px solid #eee;
  -webkit-box-shadow: 0 0 4px #e3e3e3;
  box-shadow: 0 0 4px #e3e3e3;
}
.b-exchange__heading {
  height: 50px;
  padding: 10px 0;
  margin: 0 0 10px;
  background: url("../img/b-exchange__heading-bg.jpg") no-repeat;
  text-align: center;
  color: #fff;
  font-weight: bold;
  text-shadow: 1px 1px 5px #000;
  -webkit-border-radius: 5px;
  border-radius: 5px;
  -webkit-box-shadow: 0 1px 4px #9d9d9d;
  box-shadow: 0 1px 4px #9d9d9d;
}
.b-exchange__currency,
.b-exchange__flag,
.b-exchange__rate {
  display: inline-block;
  vertical-align: middle;
  margin-right: 5px;
  color: #333;
}
.b-exchange__currency {
  min-width: 50px;
  font-size: 14px;
}
.b-exchange__flag {
  margin-right: 10px;
}
.b-exchange__rate {
  min-width: 50px;
  font-weight: bold;
}
.b-footer {
  height: 180px;
  background: url("../img/b-footer-bg.jpg") repeat-x;
  color: #164e66;
  font-size: 12px;
/* Колонка
    --------------------------------------------- */
/* Заголовок
    --------------------------------------------- */
/* Текст
    --------------------------------------------- */
/* Кнопка
    --------------------------------------------- */
/* Логотип
    --------------------------------------------- */
/* Копирайт
    --------------------------------------------- */
/* Соц. сети
    --------------------------------------------- */
/* Меню
    --------------------------------------------- */
}
.b-footer__col {
  float: left;
  width: 245px;
  padding: 35px 10px 0;
}
.b-footer__heading {
  font-size: 14px;
  font-weight: bold;
  margin-bottom: 8px;
}
.b-footer__text {
  color: #4283a4;
  line-height: 1.6;
}
.b-footer__btn {
  margin: 20px 0;
}
.b-footer__logo {
  padding-top: 20px;
  padding-left: 25px;
}
.b-footer__copyright {
  margin: 30px 0 0;
  color: #568298;
  font-size: 14px;
  font-weight: bold;
}
.b-footer__social {
  margin: 5px 0 0;
}
.b-footer__menu {
  float: left;
  width: 105px;
  line-height: 1.7;
}
.b-footer__menu + .b-footer__menu {
  margin-left: 15px;
}
.b-gallery {
  zoom: 1;
  margin: 0 0 30px;
/* Стилизация слайдера
    ---------------------------------------------- */
}
.b-gallery:before,
.b-gallery:after {
  content: "";
  display: table;
}
.b-gallery:after {
  clear: both;
}
.b-gallery__item {
  display: block;
  float: left;
  text-align: center;
}
.b-gallery .bx-wrapper {
  margin: 0 auto;
  position: relative;
}
.b-gallery .bx-wrapper .bx-prev,
.b-gallery .bx-wrapper .bx-next {
  background: url("../img/icons-sprite.png") no-repeat;
  display: block;
  width: 14px;
  height: 22px;
  text-indent: 100%;
  white-space: nowrap;
  overflow: hidden;
  position: absolute;
  top: 38%;
}
.b-gallery .bx-wrapper .bx-prev.disabled,
.b-gallery .bx-wrapper .bx-next.disabled {
  pointer-events: none;
}
.b-gallery .bx-wrapper .bx-next {
  background-position: -26px -136px;
  right: -18px;
}
.b-gallery .bx-wrapper .bx-next:hover {
  background-position: -26px -166px;
}
.b-gallery .bx-wrapper .bx-next:active {
  background-position: -26px -195px;
}
.b-gallery .bx-wrapper .bx-next.disabled {
  background-position: -26px -226px;
}
.b-gallery .bx-wrapper .bx-prev {
  background-position: 0 -136px;
  left: -18px;
}
.b-gallery .bx-wrapper .bx-prev:hover {
  background-position: 0 -166px;
}
.b-gallery .bx-wrapper .bx-prev:active {
  background-position: 0 -195px;
}
.b-gallery .bx-wrapper .bx-prev.disabled {
  background-position: 0 -226px;
}
.b-header {
  background: url("../img/b-header-bg.jpg") no-repeat center top;
  padding-bottom: 50px;
/* Верхняя часть
    --------------------------------------------- */
/* Основная часть
    --------------------------------------------- */
/* Иконки, телефоны, профиль
    --------------------------------------------- */
/* Телефоны
    --------------------------------------------- */
/* Профиль
    --------------------------------------------- */
/* Логотип, часы
    --------------------------------------------- */
}
.b-header__top {
  min-height: 76px;
  background: url("../img/b-header__top-bg.png") repeat-x;
  color: #fff;
  font-size: 14px;
}
.b-header__main {
  padding: 15px 0 0;
}
.b-header__social,
.b-header__profile,
.b-header__phones {
  display: inline-block;
  vertical-align: middle;
  padding: 11px;
}
.b-header__social,
.b-header__profile {
  width: 303px;
}
.b-header__phones {
  width: 365px;
  text-align: center;
  font-weight: bold;
}
.b-header__phones span {
  display: inline-block;
  margin: 0 5px;
  position: relative;
}
.b-header__phones span:first-child:before {
  content: '';
  background: url("../img/icons-sprite.png") no-repeat -26px -88px;
  width: 12px;
  height: 18px;
  position: absolute;
  left: -15px;
  top: 30%;
}
.b-header__phones strong {
  font-size: 24px;
}
.b-header__profile {
  text-align: right;
}
.b-header__profile__image {
  display: inline-block;
  vertical-align: middle;
  margin: 0 0 0 8px;
}
.b-header__profile__link {
  margin: 0 5px;
  color: #fff;
  position: relative;
}
.b-header__profile__link + .b-header__profile__link:before {
  content: '|';
  color: #72b7cf;
  position: absolute;
  left: -8px;
  top: 1px;
}
.b-header__profile__link--auth:after {
  content: '';
  background: url("../img/icons-sprite.png") no-repeat 0 -88px;
  width: 16px;
  height: 11px;
  position: absolute;
  left: -25px;
  top: 30%;
}
.b-header__logo,
.b-header__clock {
  width: 180px;
}
.b-header__logo {
  float: left;
}
.b-header__clock {
  float: right;
  text-align: center;
  color: #b7ecff;
  font-weight: bold;
  text-shadow: 1px 1px 4px #333;
}
.b-header__clock img {
  display: block;
  margin: 0 auto;
}
.b-header__clock__time {
  font-size: 20px;
  color: #fff;
}
.b-icon,
.b-icon--key,
.b-icon--phone,
.b-icon--flag,
.b-icon--flag-ru,
.b-icon--flag-eu,
.b-icon--flag-us,
.b-icon--rate,
.b-icon--rate-down,
.b-icon--rate-up,
.b-icon--social,
.b-icon--social-vk,
.b-icon--social-fb,
.b-icon--social-tw,
.b-icon--social-g,
.b-icon--sidebar,
.b-icon--sidebar-info,
.b-icon--sidebar-say,
.b-icon--sidebar-check,
.b-icon--slider {
  background: url("../img/icons-sprite.png") no-repeat;
}
.b-icon--key {
  display: inline-block;
  width: 16px;
  height: 11px;
  background-position: 0 -88px;
}
.b-icon--phone {
  display: inline-block;
  vertical-align: bottom;
  width: 12px;
  height: 18px;
  background-position: -26px -88px;
}
.b-icon--flag,
.b-icon--flag-ru,
.b-icon--flag-eu,
.b-icon--flag-us {
  display: inline-block;
  width: 16px;
  height: 11px;
}
.b-icon--flag-ru {
  background-position: -170px 0;
}
.b-icon--flag-eu {
  background-position: -143px 0;
}
.b-icon--flag-us {
  background-position: -116px 0;
}
.b-icon--rate,
.b-icon--rate-down,
.b-icon--rate-up {
  display: inline-block;
  width: 5px;
  height: 11px;
}
.b-icon--rate-down {
  background-position: -92px -88px;
}
.b-icon--rate-up {
  background-position: -83px -88px;
}
.b-icon--social,
.b-icon--social-vk,
.b-icon--social-fb,
.b-icon--social-tw,
.b-icon--social-g {
  display: inline-block;
  vertical-align: top;
  width: 18px;
  height: 18px;
  margin: 0 5px 0 0;
  -webkit-box-shadow: 1px 2px 2px #909698;
  box-shadow: 1px 2px 2px #909698;
}
.b-icon--social-vk {
  background-position: 0 0;
}
.b-icon--social-vk:hover {
  background-position: 0 -25px;
}
.b-icon--social-fb {
  background-position: -29px 0;
}
.b-icon--social-fb:hover {
  background-position: -29px -25px;
}
.b-icon--social-tw {
  background-position: -58px 0;
}
.b-icon--social-tw:hover {
  background-position: -58px -25px;
}
.b-icon--social-g {
  background-position: -87px 0;
}
.b-icon--social-g:hover {
  background-position: -87px -25px;
}
.b-icon--sidebar,
.b-icon--sidebar-info,
.b-icon--sidebar-say,
.b-icon--sidebar-check {
  display: inline-block;
  vertical-align: bottom;
  width: 20px;
  height: 20px;
  margin-right: 4px;
}
.b-icon--sidebar-info {
  background-position: 0 -50px;
}
.b-icon--sidebar-say {
  background-position: -40px -50px;
}
.b-icon--sidebar-check {
  background-position: -80px -50px;
}
.b-icon--slider {
  width: 14px;
  height: 22px;
  vertical-align: bottom;
  margin-right: 4px;
}
.b-icon--sidebar-info {
  background-position: 0 -50px;
}
.b-icon--sidebar-say {
  background-position: -40px -50px;
}
.b-icon--sidebar-check {
  background-position: -80px -50px;
}
.b-last-news {
  margin: 0 0 30px;
/* Изображение, дата
    --------------------------------------------- */
/* Ссылка
    --------------------------------------------- */
/* Читать все новости
    --------------------------------------------- */
}
.b-last-news__items {
  zoom: 1;
  margin: 0 0 20px;
}
.b-last-news__items:before,
.b-last-news__items:after {
  content: "";
  display: table;
}
.b-last-news__items:after {
  clear: both;
}
.b-last-news__item {
  float: left;
  width: 100px;
  font-size: 12px;
}
.b-last-news__item + .b-last-news__item {
  margin-left: 20px;
}
.b-last-news__image,
.b-last-news__date {
  margin-bottom: 5px;
}
.b-last-news__date {
  color: #94c1d7;
}
.b-last-news__link {
  line-height: 1.5;
}
.b-last-news__more {
  text-align: center;
  font-size: 14px;
}
.b-last-news__more a {
  position: relative;
  border-bottom: 1px solid;
  color: #333;
}
.b-last-news__more a:hover {
  border: none;
}
.b-last-news__more a:after {
  content: '→';
  position: absolute;
  right: -20px;
  top: 2px;
}
.b-list__item {
  display: block;
  padding: 7px 10px;
  background: #fff;
  font-size: 14px;
  color: #333;
  -webkit-box-shadow: 0 0 6px #d6e1e7;
  box-shadow: 0 0 6px #d6e1e7;
  border: 1px solid #cfe5f0;
  -webkit-border-radius: 2px;
  border-radius: 2px;
  position: relative;
}
a.b-list__item:hover {
  background: #daf2fa;
  background: -webkit-linear-gradient(top, #effbff, #daf2fa);
  background: -moz-linear-gradient(top, #effbff, #daf2fa);
  background: -o-linear-gradient(top, #effbff, #daf2fa);
  background: -ms-linear-gradient(top, #effbff, #daf2fa);
  background: linear-gradient(to bottom, #effbff, #daf2fa);
}
.b-list__item--active,
a.b-list__item--active:hover {
  background: #ddf3fa;
  background: -webkit-linear-gradient(top, #b4e3f2, #ddf3fa);
  background: -moz-linear-gradient(top, #b4e3f2, #ddf3fa);
  background: -o-linear-gradient(top, #b4e3f2, #ddf3fa);
  background: -ms-linear-gradient(top, #b4e3f2, #ddf3fa);
  background: linear-gradient(to bottom, #b4e3f2, #ddf3fa);
  border: 1px solid #8bcae3;
  -webkit-box-shadow: 0 0 4px #8bcae3;
  box-shadow: 0 0 4px #8bcae3;
}
.b-list__item--text {
  padding-bottom: 15px;
  line-height: 1.4;
}
.b-main {
  min-height: 200px;
  margin-top: -20px;
  padding-bottom: 40px;
  background: #fff url("../img/b-main-bg.jpg") repeat-y;
  -webkit-box-shadow: 0 10px 12px #e1e1e1;
  box-shadow: 0 10px 12px #e1e1e1;
}
.b-main--two-column {
  background-position: -730px 0;
}
.b-main--two-column .b-content {
  width: 730px;
}
.b-offers {
  margin: 0 0 30px;
/* Заголовок 
    -------------------------------------------- */
}
.b-offers__items {
  zoom: 1;
}
.b-offers__items:before,
.b-offers__items:after {
  content: "";
  display: table;
}
.b-offers__items:after {
  clear: both;
}
.b-offers__item {
  display: block;
  float: left;
  margin: 0 5px 30px;
  width: 220px;
  height: 170px;
  border: 5px solid #a0e2f7;
  -webkit-border-radius: 7px;
  border-radius: 7px;
  -webkit-box-shadow: 0 0 7px #bfcace;
  box-shadow: 0 0 7px #bfcace;
  position: relative;
}
.b-offers__item:hover {
  border-color: #6dd2f3;
}
.b-offers__heading {
  display: table;
  width: 100%;
  height: 45px;
  background: url("../img/b-offers__heading-bg.png") repeat-x;
  text-align: center;
  font-weight: bold;
  line-height: 1;
  -webkit-box-shadow: 0 -3px 8px 0px #6c6c6c;
  box-shadow: 0 -3px 8px 0px #6c6c6c;
  position: absolute;
  bottom: 0;
  left: 0;
}
.b-offers__heading span {
  display: table-cell;
  vertical-align: middle;
}
.b-offers__heading:after {
  content: '';
  position: absolute;
  left: 44%;
  top: -20px;
  border: 10px solid transparent;
  border-bottom: 10px solid #fff;
}
.b-other-offers {
  margin: 0 0 40px;
}
.b-other-offers__items {
  zoom: 1;
}
.b-other-offers__items:before,
.b-other-offers__items:after {
  content: "";
  display: table;
}
.b-other-offers__items:after {
  clear: both;
}
.b-other-offers__item {
  float: left;
  width: 171px;
  font-weight: bold;
}
.b-other-offers__item + .b-other-offers__item {
  margin-left: 8px;
}
.b-other-offers__item a:hover {
  color: #006fa7;
}
.b-other-offers__item a:after {
  content: '→';
  display: inline-block;
  margin-left: 5px;
  font-weight: normal;
}
.b-pagination {
  text-align: center;
/* Назад 
    ----------------------------------------------- */
/* Вперед 
    ----------------------------------------------- */
/* Меньше 
    ----------------------------------------------- */
/* Больше 
    ----------------------------------------------- */
}
.b-pagination__item {
  display: inline-block;
  vertical-align: middle;
}
.b-pagination__item {
  margin: 0 3px;
}
.b-pagination__item--active,
.b-pagination__item:hover {
  font-weight: bold;
  color: #4283a4;
}
.b-pagination__prev,
.b-pagination__next,
.b-pagination__less,
.b-pagination__more {
  width: 36px;
  height: 27px;
  background: url("../img/icons-sprite.png") no-repeat;
}
.b-pagination__prev--disabled,
.b-pagination__next--disabled,
.b-pagination__less--disabled,
.b-pagination__more--disabled {
  pointer-events: none;
}
.b-pagination__prev {
  background-position: -95px -112px;
}
.b-pagination__prev:hover {
  background-position: -95px -152px;
}
.b-pagination__prev:active {
  background-position: -95px -192px;
}
.b-pagination__prev--disabled {
  background-position: -95px -232px;
}
.b-pagination__next {
  background-position: -131px -112px;
}
.b-pagination__next:hover {
  background-position: -131px -152px;
}
.b-pagination__next:active {
  background-position: -131px -192px;
}
.b-pagination__next--disabled {
  background-position: -131px -232px;
}
.b-pagination__less {
  background-position: -57px -112px;
}
.b-pagination__less:hover {
  background-position: -57px -152px;
}
.b-pagination__less:active {
  background-position: -57px -192px;
}
.b-pagination__less--disabled {
  background-position: -57px -232px;
}
.b-pagination__more {
  background-position: -169px -112px;
}
.b-pagination__more:hover {
  background-position: -169px -152px;
}
.b-pagination__more:active {
  background-position: -169px -192px;
}
.b-pagination__more--disabled {
  background-position: -169px -232px;
}
.b-search {
  position: relative;
}
.b-search__btn {
  background: url("../img/icons-sprite.png") no-repeat -59px -88px;
  width: 16px;
  height: 16px;
  position: absolute;
  right: 12px;
  top: 6px;
  z-index: 100;
}
.b-search__input {
  width: 280px;
  padding-right: 32px;
}
.b-search__input::-moz-placeholder {
  font-style: italic;
  font-weight: bold;
}
.b-search__input:-ms-input-placeholder {
  font-style: italic;
  font-weight: bold;
}
.b-search__input::-webkit-input-placeholder {
  font-style: italic;
  font-weight: bold;
}
.b-services-menu__item + .b-services-menu__item {
  margin-top: 20px;
}
.b-services-menu__item--active .b-services-menu__link:after {
  content: '';
  position: absolute;
  bottom: -21px;
  left: 45%;
  border: 10px solid transparent;
  border-top: 10px solid #fff;
  z-index: 100;
}
.b-services-menu__item--active .b-services-menu__sub {
  display: block;
}
.b-services-menu__sub {
  display: none;
}
.b-services-menu__sub__item--active,
a.b-services-menu__sub__item--active:hover {
  background: #fff url("../img/b-services-menu__sub__item-active.png") center center;
}
.b-services-menu__link {
  display: block;
  position: relative;
  width: 230px;
  height: 102px;
  margin: 0 0 15px;
  font-weight: bold;
  color: #006fa7;
  text-align: center;
  -webkit-box-shadow: 0 0 8px #98b6c5;
  box-shadow: 0 0 8px #98b6c5;
  border: 1px solid #fff;
  -webkit-border-radius: 2px;
  border-radius: 2px;
}
.b-services-menu__link:before {
  content: '';
  position: absolute;
  top: 0;
  left: 0;
  background: url("../img/b-services-menu__link.png") no-repeat;
  height: 38px;
  width: 100%;
  z-index: 100;
}
.b-services-menu__link img {
  position: absolute;
  top: 0;
  left: 0;
  -webkit-border-radius: 2px;
  border-radius: 2px;
}
.b-services-menu__link span {
  display: inline-block;
  padding: 3px 4px;
  position: relative;
  z-index: 120;
  line-height: 0.9;
  text-align: left;
}
.b-sidebar {
  float: left;
  width: 250px;
  padding: 20px 10px 0;
/* Блок
    ---------------------------------------------- */
}
.b-sidebar__section {
  width: 230px;
  margin: 0 0 20px;
/* Заголовок
        ------------------------------------------ */
/* Кнопка
        ------------------------------------------ */
}
.b-sidebar__section__heading {
  display: block;
  height: 40px;
  padding: 10px 12px;
  margin: 0 0 14px;
  background: #6ccbf5;
  color: #fff;
  -webkit-box-shadow: 0 1px 3px #d0d0d0;
  box-shadow: 0 1px 3px #d0d0d0;
  position: relative;
}
.b-sidebar__section__heading:after {
  content: '';
  position: absolute;
  left: 44%;
  bottom: -18px;
  border: 9px solid transparent;
  border-top: 9px solid #6ccbf5;
}
.b-sidebar__section__btn {
  margin-right: auto;
  margin-left: auto;
}
.b-slider {
  margin: 0 10px 15px;
  width: 600px;
  height: 300px;
  float: left;
  overflow: hidden;
  background: #fff;
  color: #fff;
  text-shadow: 2px 2px 3px #6c6c6c;
/* Описание
    --------------------------------------------- */
/* Заголовок
    --------------------------------------------- */
/* Список ссылок
    --------------------------------------------- */
/* Стилизация слайдера
    --------------------------------------------- */
}
.b-slider__item {
  position: relative;
}
.b-slider__desc {
  width: 100%;
  height: 152px;
  padding: 75px 20px 0;
  background: url("../img/b-slider__desc-bg.png") no-repeat;
  position: absolute;
  bottom: 0;
  left: 0;
  z-index: 100;
}
.b-slider__heading {
  width: 211px;
  height: 100%;
  padding: 60px 20px 0 70px;
  background: url("../img/b-slider__heading-bg.png") no-repeat;
  font-weight: bold;
  font-size: 24px;
  position: absolute;
  top: 0;
  right: 0;
  z-index: 50;
}
.b-slider__links__item {
  display: inline-block;
  font-style: italic;
  font-size: 22px;
}
.b-slider__links__item + .b-slider__links__item {
  margin-left: 18px;
}
.b-slider .bx-wrapper {
  position: relative;
}
.b-slider .bx-wrapper .bx-pager {
  width: 100%;
  text-align: center;
  position: absolute;
  bottom: 15px;
  left: 0;
  z-index: 120;
}
.b-slider .bx-wrapper .bx-pager .bx-pager-item {
  display: inline-block;
}
.b-slider .bx-wrapper .bx-pager .bx-pager-item .bx-pager-link {
  display: block;
  width: 10px;
  height: 10px;
  margin: 0 2px;
  background: url("../img/b-slider-pager-sprite.png") no-repeat;
  text-indent: 100%;
  white-space: nowrap;
  overflow: hidden;
  -webkit-border-radius: 50%;
  border-radius: 50%;
  -webkit-box-shadow: 0 0 5px #363636;
  box-shadow: 0 0 5px #363636;
}
.b-slider .bx-wrapper .bx-pager .bx-pager-item .bx-pager-link.active {
  background-position: -13px 0;
}
.b-top-menu {
  height: 50px;
  padding: 3px 10px 0;
  background: url("../img/b-top-menu-bg.png") repeat-x;
  -webkit-border-radius: 2px;
  border-radius: 2px;
  -webkit-box-shadow: 0 1px 5px #969696;
  box-shadow: 0 1px 5px #969696;
}
.b-top-menu__item {
  display: inline-block;
  font-weight: bold;
  text-transform: uppercase;
  color: #164e66;
}
.b-top-menu__item + .b-top-menu__item {
  margin-left: 5px;
}
.b-top-menu__item a {
  display: block;
  padding: 13px;
  -webkit-border-radius: 3px;
  border-radius: 3px;
}
.b-top-menu__item a:hover {
  background: #c0e1ef;
  background: -webkit-linear-gradient(top, #96cbe2, #c0e1ef);
  background: -moz-linear-gradient(top, #96cbe2, #c0e1ef);
  background: -o-linear-gradient(top, #96cbe2, #c0e1ef);
  background: -ms-linear-gradient(top, #96cbe2, #c0e1ef);
  background: linear-gradient(to bottom, #96cbe2, #c0e1ef);
}
.b-top-menu__search {
  float: right;
  margin: 0 5px;
  padding: 2px;
}
.b-tour {
  margin: 0 0 40px;
}
.b-tour__date {
  margin: 20px auto;
  padding: 10px 0;
  width: 704px;
  height: 44px;
  background: url("../img/b-tour__date-bg.png") no-repeat;
  text-align: center;
  font-size: 14px;
  color: #fff;
  text-shadow: 0px 1px 3px #585858;
}
.b-tour__date strong {
  font-size: 16px;
  font-weight: bold;
}
.b-tour__price {
  font-weight: bold;
  text-align: center;
}
.b-tour__timetable {
  width: 100%;
  margin: 20px 0;
  border-collapse: separate;
  border-spacing: 0 5px;
}
.b-tour__timetable__desc,
.b-tour__timetable__day {
  padding: 10px 0;
  border: 1px solid #cfd9e6;
}
.b-tour__timetable__desc {
  width: 86.7%;
  padding-left: 20px;
  border-left: none;
  -webkit-border-radius: 0 5px 5px 0;
  border-radius: 0 5px 5px 0;
}
.b-tour__timetable__day {
  width: 13.3%;
  background: -webkit-linear-gradient(top, #f2f6fa, #d6dde5);
  background: -moz-linear-gradient(top, #f2f6fa, #d6dde5);
  background: -o-linear-gradient(top, #f2f6fa, #d6dde5);
  background: -ms-linear-gradient(top, #f2f6fa, #d6dde5);
  background: linear-gradient(to bottom, #f2f6fa, #d6dde5);
  text-align: center;
  color: #046;
  -webkit-border-radius: 5px 0 0 5px;
  border-radius: 5px 0 0 5px;
}
.b-tour__timetable__day div {
  position: relative;
}
.b-tour__timetable__day div:after {
  content: '';
  position: absolute;
  right: -25px;
  top: 30%;
  border: 12px solid transparent;
  border-left: 12px solid #cfd9e6;
}
.b-tour__timetable__day strong {
  display: block;
  font-size: 20px;
  font-weight: bold;
}
