/* Настройки
----------------------------------------------------------- */
/* Подключение файлов
----------------------------------------------------------- */
html,
body,
div,
span,
applet,
object,
iframe,
h1,
h2,
h3,
h4,
h5,
h6,
p,
blockquote,
pre,
a,
abbr,
acronym,
address,
big,
cite,
code,
del,
dfn,
em,
img,
ins,
kbd,
q,
s,
samp,
small,
strike,
strong,
sub,
sup,
tt,
var,
dl,
dt,
dd,
ol,
ul,
li,
fieldset,
form,
label,
legend,
table,
caption,
tbody,
tfoot,
thead,
tr,
th,
td {
  margin: 0;
  padding: 0;
  border: 0;
  outline: 0;
  font-weight: inherit;
  font-style: inherit;
  font-family: inherit;
  font-size: 100%;
  vertical-align: baseline;
}
body {
  line-height: 1;
  color: #000;
  background: #fff;
}
ol,
ul {
  list-style: none;
}
table {
  border-collapse: separate;
  border-spacing: 0;
  vertical-align: middle;
}
caption,
th,
td {
  text-align: left;
  font-weight: normal;
  vertical-align: middle;
}
a img {
  border: none;
}
* {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
}
html {
  font-size: 100%;
}
body {
  line-height: 1.2;
  font-family: 'PT Sans', sans-serif;
  min-width: 980px;
  background: url("../img/body-bg.jpg") repeat;
}
a {
  color: inherit;
  text-decoration: none;
}
p {
  font: inherit;
}
input,
button {
  font-family: inherit;
  line-height: inherit;
}
.container {
  width: 980px;
  margin: 0 auto;
  zoom: 1;
}
.container:before,
.container:after {
  content: "";
  display: table;
}
.container:after {
  clear: both;
}
.link,
.link--dotted,
.link--solid {
  display: inline-block;
  color: #fff;
}
.link:hover,
.link--dotted:hover,
.link--solid:hover {
  border: none;
}
.link--dotted {
  border-bottom: dotted 1px #fff;
}
.link--solid {
  border-bottom: solid 1px #fff;
}
.row {
  zoom: 1;
}
.row:before,
.row:after {
  content: "";
  display: table;
}
.row:after {
  clear: both;
}
.col,
.col-1-4,
.col-2-4 {
  display: inline-block;
  padding: 0 10px;
}
.col-1-4 {
  width: 250px;
}
.col-2-4 {
  width: 480px;
}
.heading--xl {
  text-align: center;
  font-size: 26px;
  margin-bottom: 20px;
}
.heading--xl:after {
  content: '';
  display: block;
  width: 300px;
  height: 7px;
  margin: 10px auto 0;
  background: url("../img/heading-pattern.png") no-repeat;
}
.heading--lg {
  font-size: 24px;
}
.heading--md {
  font-size: 22px;
}
.heading--sm {
  font-size: 20px;
}
.heading--xs {
  font-size: 18px;
}
.heading--xxs {
  font-size: 16px;
  font-weight: bold;
  text-transform: uppercase;
}
.form__radio {
  margin: 0;
  display: inline-block;
  vertical-align: middle;
}
.btn {
  display: block;
  outline: none;
  border: none;
  cursor: pointer;
  text-align: center;
}
.btn--lg {
  width: 170px;
  padding: 11px 20px;
}
.btn--md {
  width: 135px;
  padding: 6px 20px;
}
.btn--sm {
  width: 105px;
  padding: 5px 20px;
}
.btn--light {
  margin: 10px 0;
  background: -webkit-linear-gradient(top, #6dd2f3, #36a7dc);
  background: -moz-linear-gradient(top, #6dd2f3, #36a7dc);
  background: -o-linear-gradient(top, #6dd2f3, #36a7dc);
  background: -ms-linear-gradient(top, #6dd2f3, #36a7dc);
  background: linear-gradient(to bottom, #6dd2f3, #36a7dc);
  font-size: 14px;
  font-weight: bold;
  color: #fff;
  text-shadow: 1px 1px 3px #3588ac;
  border-bottom: 2px solid #277fa8;
  -webkit-box-shadow: 0 2px 3px #c2c2c2;
  box-shadow: 0 2px 3px #c2c2c2;
  -webkit-border-radius: 3px;
  border-radius: 3px;
}
.btn--light:hover {
  background: -webkit-linear-gradient(top, #9ee1f7, #52b7e6);
  background: -moz-linear-gradient(top, #9ee1f7, #52b7e6);
  background: -o-linear-gradient(top, #9ee1f7, #52b7e6);
  background: -ms-linear-gradient(top, #9ee1f7, #52b7e6);
  background: linear-gradient(to bottom, #9ee1f7, #52b7e6);
}
.btn--light:not([disabled]):active {
  border-bottom: none;
  border-top: 2px solid #267ea8;
  background: -webkit-linear-gradient(top, #34a5db, #6bd1f2);
  background: -moz-linear-gradient(top, #34a5db, #6bd1f2);
  background: -o-linear-gradient(top, #34a5db, #6bd1f2);
  background: -ms-linear-gradient(top, #34a5db, #6bd1f2);
  background: linear-gradient(to bottom, #34a5db, #6bd1f2);
  -webkit-box-shadow: none;
  box-shadow: none;
}
.btn--light[disabled] {
  border-color: #b9bbc0;
  background: -webkit-linear-gradient(top, #dfe0e6, #ced1d7);
  background: -moz-linear-gradient(top, #dfe0e6, #ced1d7);
  background: -o-linear-gradient(top, #dfe0e6, #ced1d7);
  background: -ms-linear-gradient(top, #dfe0e6, #ced1d7);
  background: linear-gradient(to bottom, #dfe0e6, #ced1d7);
  -webkit-box-shadow: none;
  box-shadow: none;
  cursor: default;
}
.b-content {
  float: left;
  width: 480px;
  padding: 20px 10px 0;
  background: #fff;
  margin-top: -20px;
  padding-top: 40px;
}
.b-footer {
  height: 180px;
  background: url("../img/b-footer-bg.jpg") repeat-x;
  color: #164e66;
  font-size: 12px;
}
.b-footer__col {
  float: left;
  width: 245px;
  padding: 35px 10px 0;
}
.b-footer__logo {
  padding-top: 20px;
  padding-left: 25px;
}
.b-footer__heading {
  font-size: 14px;
  font-weight: bold;
  margin-bottom: 8px;
}
.b-footer__text {
  color: #4283a4;
  line-height: 1.6;
}
.b-footer__btn {
  margin: 20px 0;
}
.b-footer__copyright {
  margin: 30px 0 0;
  color: #568298;
  font-size: 14px;
  font-weight: bold;
}
.b-footer__social {
  margin: 5px 0 0;
}
.b-footer__menu {
  float: left;
  width: 105px;
  line-height: 1.7;
  color: #4283a4;
}
.b-footer__menu + .b-footer__menu {
  margin-left: 15px;
}
.b-footer__menu__item a:hover {
  color: #006fa7;
  text-decoration: underline;
}
.b-header {
  background: url("../img/b-header-bg.jpg") no-repeat center center;
  padding-bottom: 60px;
/* Верхняя часть
    --------------------------------------------- */
/* Основная часть
    --------------------------------------------- */
/* Иконки, телефоны, профиль
    --------------------------------------------- */
/* Логотип, часы
    --------------------------------------------- */
}
.b-header__top {
  min-height: 76px;
  background: url("../img/b-header__top-bg.png") repeat-x;
  color: #fff;
  font-size: 14px;
}
.b-header__main {
  padding: 15px 0 0;
}
.b-header__social,
.b-header__profile,
.b-header__phones {
  display: inline-block;
  vertical-align: middle;
  padding: 11px 20px;
}
.b-header__social,
.b-header__profile {
  width: 250px;
}
.b-header__phones {
  width: 470px;
  text-align: center;
  font-weight: bold;
}
.b-header__phones span {
  display: inline-block;
  margin: 0 5px;
}
.b-header__phones strong {
  font-size: 24px;
}
.b-header__profile {
  text-align: right;
}
.b-header__profile__link {
  position: relative;
  margin: 0 8px;
}
.b-header__profile__link + .b-header__profile__link:before {
  content: '|';
  color: #61b0ce;
  position: absolute;
  left: -11px;
  top: 0;
}
.b-header__logo,
.b-header__clock {
  width: 180px;
}
.b-header__logo {
  float: left;
}
.b-header__clock {
  float: right;
  text-align: center;
}
.b-list__item {
  display: block;
  padding: 7px 10px;
  background: #fff;
  font-size: 14px;
  color: #333;
  -webkit-box-shadow: 0 0 4px #cccdd4;
  box-shadow: 0 0 4px #cccdd4;
  border: 1px solid #ddedf5;
  -webkit-border-radius: 2px;
  border-radius: 2px;
}
a.b-list__item:hover {
  background: -webkit-linear-gradient(top, #effbff, #daf2fa);
  background: -moz-linear-gradient(top, #effbff, #daf2fa);
  background: -o-linear-gradient(top, #effbff, #daf2fa);
  background: -ms-linear-gradient(top, #effbff, #daf2fa);
  background: linear-gradient(to bottom, #effbff, #daf2fa);
}
.b-list__item--text {
  padding-bottom: 15px;
  line-height: 1.4;
}
.b-main {
  min-height: 200px;
  margin-top: -20px;
  padding-bottom: 20px;
  background: url("../img/b-main-bg.jpg") repeat-y;
  -webkit-box-shadow: 0 10px 12px #e1e1e1;
  box-shadow: 0 10px 12px #e1e1e1;
}
.b-services-menu__item + .b-services-menu__item {
  margin-top: 20px;
}
.b-services-menu__item.active .b-services-menu__sub {
  display: block;
}
.b-services-menu__sub {
  display: none;
}
.b-services-menu__link {
  display: block;
  position: relative;
  width: 230px;
  height: 100px;
  margin: 0 0 12px;
  font-weight: bold;
  color: #006fa7;
  text-align: center;
  -webkit-box-shadow: 0 0 8px #98b6c5;
  box-shadow: 0 0 8px #98b6c5;
  border: 1px solid #fff;
  -webkit-border-radius: 2px;
  border-radius: 2px;
}
.b-services-menu__link:before {
  content: '';
  position: absolute;
  top: 0;
  left: 0;
  background: url("../img/b-services-menu__link.png") no-repeat;
  height: 38px;
  width: 100%;
  z-index: 100;
}
.b-services-menu__link img {
  position: absolute;
  top: 0;
  left: 0;
  -webkit-border-radius: 2px;
  border-radius: 2px;
}
.b-services-menu__link span {
  display: inline-block;
  padding: 3px 4px;
  position: relative;
  z-index: 120;
  line-height: 0.9;
  text-align: left;
}
.b-sidebar {
  float: left;
  width: 250px;
  padding: 20px 10px 0;
}
.b-sidebar__section {
  width: 230px;
  margin: 0 0 20px;
}
.b-sidebar__section__heading {
  display: block;
  height: 49px;
  padding: 10px 38px;
  margin: 0 0 5px;
  background: url("../img/b-sidebar__section-bg.png");
  color: #fff;
}
.b-sidebar__section__btn {
  margin-right: auto;
  margin-left: auto;
}
.b-social__icon,
.b-social__vkontakte,
.b-social__facebook,
.b-social__twitter,
.b-social__google {
  display: inline-block;
  vertical-align: top;
  margin: 0 5px 0 0;
  background: url("../img/b-social-sprite.png") no-repeat;
  width: 18px;
  height: 18px;
  -webkit-box-shadow: 1px 2px 2px #909698;
  box-shadow: 1px 2px 2px #909698;
}
.b-social__vkontakte {
  background-position: 0 0;
}
.b-social__vkontakte:hover {
  background-position: 0 -25px;
}
.b-social__facebook {
  background-position: -29px 0;
}
.b-social__facebook:hover {
  background-position: -29px -25px;
}
.b-social__twitter {
  background-position: -58px 0;
}
.b-social__twitter:hover {
  background-position: -58px -25px;
}
.b-social__google {
  background-position: -87px 0;
}
.b-social__google:hover {
  background-position: -87px -25px;
}
.b-top-menu {
  height: 50px;
  padding: 3px 10px 0;
  background: url("../img/b-top-menu-bg.png") repeat-x;
  -webkit-border-radius: 2px;
  border-radius: 2px;
}
.b-top-menu__item {
  display: inline-block;
  font-weight: bold;
  text-transform: uppercase;
  color: #164e66;
}
.b-top-menu__item + .b-top-menu__item {
  margin-left: 5px;
}
.b-top-menu__item a {
  display: block;
  padding: 13px;
  -webkit-border-radius: 3px;
  border-radius: 3px;
}
.b-top-menu__item a:hover {
  background: -webkit-linear-gradient(top, #96cbe2, #c0e1ef);
  background: -moz-linear-gradient(top, #96cbe2, #c0e1ef);
  background: -o-linear-gradient(top, #96cbe2, #c0e1ef);
  background: -ms-linear-gradient(top, #96cbe2, #c0e1ef);
  background: linear-gradient(to bottom, #96cbe2, #c0e1ef);
}
